*{



margin :0;



padding:0;



}



body{



	background-color:#fff;



background-repeat: no-repeat; 



background-attachment: fixed; 



background-size: 100% 100%; 



} 







.css{



	margin:2%; 



   animation: spin 3s linear infinite;



   animation-play-state: paused; 



} 



.css:hover {



  animation-play-state: running;



}







@keyframes spin {



  100% {transform: rotate(1turn); }



}
.ho{

	position: absolute;



	top: calc(23% - 150px);



   right: calc(10% - 150px);

	color:#3498db;

    font-size:100px; 

    text-align: center;

    background-color:#fff;

    border: 3px solid #3498db; 

    border-radius:50px;

    width:490px; 

}    
.text{ 
	font-family: 'Cairo', sans-serif;
	font-size:40px; 
    position: absolute;
	top: calc(30% - 150px);
   right: calc(10% - 150px);
} 
.text2{ 
	color:#BA55D3; 
	font-family: 'Cairo', sans-serif;
	font-size:60px; 
    position: absolute;
	top: calc(35% - 150px);
   right: calc(13% - 150px);
} 
video{
	width:500px;
height:500px; 
position: absolute;
	top: calc(40% - 150px);
   right: calc(35% - 150px);
   border-radius:20px;
} 
.text3{
	color:#3498db; 
	font-family: 'Cairo', sans-serif;
	font-size:60px; 
    position: absolute;
	top: calc(65% - 150px);
   right: calc(13% - 150px);
} 
.hover{
   position: absolute;
   top: calc(75% - 150px);
   right: calc(20% - 150px);
   border-radius:20px;
}       