*{



margin :0;



padding:0;



}



body{



	background-color:#fff;



background-repeat: no-repeat; 



background-attachment: fixed; 



background-size: 100% 100%; 



} 







.css{



	margin:2%; 



   animation: spin 3s linear infinite;



   animation-play-state: paused; 



} 



.css:hover {



  animation-play-state: running;



}







@keyframes spin {



  100% {transform: rotate(1turn); }



}
.op{

	position: absolute;



	top: calc(23% - 150px);



   right: calc(10% - 150px);

	color:#3498db;

    font-size:100px; 

    text-align: center;

    background-color:#fff;

    border: 3px solid #3498db; 

    border-radius:50px;

    width:490px; 

}    
.text{
	color:#BA55D3; 
	font-family: 'Cairo', sans-serif;
	font-size:50px; 
    position: absolute;
	top: calc(30% - 150px);
   right: calc(13% - 150px);
} 
.text1{
	font-family: 'Cairo', sans-serif;
	font-size:45px; 
    position: absolute;
	top: calc(36% - 150px);
   right: calc(10% - 150px);
}   
.text2{
	color:#3498db;
	font-family: 'Cairo', sans-serif;
	font-size:60px; 
    position: absolute;
	top: calc(40% - 150px);
   right: calc(10% - 150px);
}    
.ba{

	position: absolute;



	top: calc(55% - 150px);



   right: calc(20% - 150px);

   border-radius:20px;

   

}     
.bo{

	position: absolute;



	top: calc(55% - 150px);



   left: calc(25% - 150px);

   border-radius:20px;

   

}    
.bo2{
	color:#BA55D3; 
	font-family: 'Cairo', sans-serif;
	font-size:50px; 
	position: absolute;
	top: calc(50% - 150px);
   left: calc(35% - 150px);
}   
.ba2{
	color:#BA55D3; 
	font-family: 'Cairo', sans-serif;
	font-size:50px; 
	position: absolute;
	top: calc(50% - 150px);
   right: calc(30% - 150px);
}   
.text3{
	color:#BA55D3; 
	font-family: 'Cairo', sans-serif;
	font-size:60px; 
    position: absolute;
	top: calc(75% - 150px);
   right: calc(13% - 150px);
}
.opacity{
   position: absolute;
   top: calc(85% - 150px);
   right: calc(35% - 150px);
   border-radius:20px;
}         